<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .test {
            text-align: center;
        }

        .ultest {
            margin: 2rem auto;
            text-align: left;
            display: inline-block;
            list-style-type: none;
            border: solid 2px;
            width: 300px;
        }

        .audiotest {
            position: fixed;
            margin-left: 20%;
        }

        .detail {
            position: fixed;
            left: 0px;
            top: 0px;
            border: 1px solid #aaa
        }

        .rightdown {
            position: fixed;
            right: 0px;
            bottom: 0px;
            width: 200px;
        }
    </style>
</head>

<body>
    <div id="player" class="test">
        <div>
            <h1>音乐小站</h1>
            <label>歌曲名:</label>
            <input type="text" @keyup.enter="searchMusic" v-model="query" onfocus="this.placeholder=''"
                placeholder="你要跳舞吗">
            <input type="button" @click="searchMusic" value="查询">
        </div>
        <br>
        <div class="test">
            <audio class="audiotest" :src="musicUrl" controls autoplay loop></audio>
        </div>
        <div class="test">
            <p> 查询结果共:{{musicList.length}}条</p>
            <input type="button" @click="back" value="返回列表">
            <ul class="ultest" v-show="isShow">
                <li v-for="(item, index) in musicList" :key="index">
                    <a href="javascript:;" @click="playMusic(item.id)">{{item.name}}</a>
                    <p> ___版本: {{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="detail">
            <img :src="png" style="width:300px;height:300px">
        </div>

        <div class="ultest" v-show="!isShow">
            <p v-for="(item, index) in comments" :key="index">
             <span style="color: brown;">   {{item.user.nickname}}</span>: {{item.content}}

            </p>
        </div>
        <div class="rightdown">
            <label>小笑话</label>
            <input type="button" @click="getJokes" class="get" value="不开心就点一下吧">
            <br>
            <br>
            {{ message }}
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#player",
            data: {
                query: "你要跳舞吗",
                musicList: [],
                musicUrl: "",
                message: "",
                png: "https://p2.music.126.net/uGAy5Yz113pb49wMw0gqgQ==/109951164699662302.jpg",
                comments: [],
                isShow: true
            },
            methods: {
                searchMusic: function () {
                    var that = this;
                    if (that.query == "") {
                        alert("请输入歌曲或者歌手名")
                    }
                    axios.get("https://autumnfish.cn/search?keywords=" + this.query).then(function (
                        response) {
                        that.musicList = response.data.result.songs;
                    }, function (err) {})
                    that.isShow = true;
                },
                playMusic: function (musicId) {
                    var that = this;
                    axios.get("https://autumnfish.cn/song/url?id=" + musicId).then(function (response) {
                        that.musicUrl = response.data.data[0].url
                    })
                    that.getMusicDetails(musicId)
                    that.getMusicCommnets(musicId)
                },
                getJokes: function () {

                    var that = this;
                    axios.get("https://autumnfish.cn/api/joke/list?num=3").then(function (
                        response) {
                        that.message = response.data.jokes[0]
                    })
                },
                getMusicDetails: function (musicId) {

                    var that = this;
                    axios.get("https://autumnfish.cn/song/detail?ids=" + musicId).then(function (
                        response) {
                        that.png = response.data.songs[0].al.picUrl
                    })
                },
                getMusicCommnets: function (musicId) {

                    var that = this;
                    axios.get("https://autumnfish.cn/comment/hot?type=0&id=" + musicId).then(function (
                        response) {
                        console.log(response)
                        that.comments = response.data.hotComments
                    })
                    that.isShow = false;
                },
                back: function () {

                    var that = this;
                    if (that.query == "") {
                        alert("请输入歌曲或者歌手名")
                    }
                    axios.get("https://autumnfish.cn/search?keywords=" + this.query).then(function (
                        response) {
                        that.musicList = response.data.result.songs;
                    }, function (err) {})
                    that.isShow = true;
                }
            },
            created() {
                this.searchMusic()
            }
        })
    </script>
</body>

</html>